section#about.about-wrap.content-section.bg-light
  div.container.text-center#scroll-width-about-1
    div.row
      div.col-lg-10.mx-auto
        h2 About Content 1
        p.lead.mb-5 내용을 입력해주세요.
          br
          a(href="#") site 링크를 걸어주세요!
        a.btn.btn-dark.btn-xl.js-scroll-trigger(href="#about-2") 다음으로 
  div.container.text-center#scroll-width-about-2
    div.row
      div.col-lg-10.mx-auto
        h2 About Content 2 
        p.lead.mb-5 내용을 입력해주세요.
        a.btn.btn-dark.btn-xl.js-scroll-trigger(href="#about-3") 그 다음으로 
  div.container.text-center#scroll-width-about-3
    div.row
      div.col-lg-10.mx-auto
        h2 About Content 3 
        p.lead.mb-5 내용을 입력해주세요.
        a.btn.btn-dark.btn-xl.js-scroll-trigger(href="#about-1") 처음으로 