section#callout.callout
  div.container.text-center
    h2.mx-auto.mb-5 CATUS의 <em>Portfoilo</em> 다운받아보자!
    a.btn.btn-primary.btn-xl(href="#") PPT 파일 다운로드 
    a.btn.btn-primary.btn-xl(href="#") HWP 파일 다운로드 