section.content-section.bg-primary.text-white
  div.container.text-center
    h2.mb-4 The buttons below are impossible to resist...
    a.btn.btn-xl.btn-light.mr-4(href="#") Click Me!
    a.btn.btn-xl.btn-dark(href="#") Look at Me!