section.callout
  div.container.text-center
    h2.mx-auto.mb-5 Welcome to <em>your</em> next website!
    a.btn.btn-primary.btn-xl(href="https://startbootstrap.com/template-overviews/stylish-portfolio/") Download Now!