footer.footer.text-center.bg-yello
  div.container
    ul.list-inline.mb-5
      li.list-inline-item
        a.social-link.rounded-circle.text-white.mr-3(href="#")
          i.icon-social-facebook
      li.list-inline-item
        a.social-link.rounded-circle.text-white.mr-3(href="#")
          i.icon-social-twitter
      li.list-inline-item
        a.social-link.rounded-circle.text-white(href="#")
          i.icon-social-github
    p.small.mb-0 Copyright &copy; Your Website 2017
