header.masthead.d-flex
  div.container.text-center.my-auto
    h1.mb-1 CATUS PORTFOLIO
    h3.mb-5
      em 포트폴리오 템플릿 
    a.btn.btn-primary.btn-xl.js-scroll-trigger(href="#about") 더 알아보기 
  div.overlay