a.menu-toggle.rounded(href="#")
  i.fa.fa-bars
nav#sidebar-wrapper
  ul.sidebar-nav
    li.sidebar-brand
      a.js-scroll-trigger(href="#page-top") CUTUS 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#page-top") 홈 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#about") 소개 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#services") 서비스 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#portfolio") 포트폴리오 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#contact") 정보 