a.menu-toggle.rounded(href="#")
  i.fa.fa-bars
nav#sidebar-wrapper
  ul.sidebar-nav
    li.sidebar-brand
      img(src='public/img/logo-white.png')
      a.js-scroll-trigger(href="#page-top") CUTUS 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#page-top") 홈 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#about") CUTUS - 소개 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#member") CUTUS - 팀원 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#portfolio") CUTUS - 포트폴리오 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#callout") CUTUS - 다운로드 
    li.sidebar-nav-item
      a.js-scroll-trigger(href="#contact") CUTUS - 정보 