mixin portfolios(title , imgID , description)
  - const PORTFOILOIMGSRC = 'public/img/portfolio-'
  div.col-lg-6
    a.portfolio-item(href="#")
      span.caption
        span.caption-content
          h2 #{title} 
          p.mb-0 #{description}
      img.img-fluid.rounded(src=`${PORTFOILOIMGSRC}${imgID}.jpg` alt="")

section#portfolio.content-section.portfolio
  div.portfolio-cover
  div.container
    div.content-section-heading.text-center
      h3.text-secondary.mb-0 Portfolio
      h2.mb-5 Recent Projects
    div.row.no-gutters
      +portfolios('title-1','1', '포트폴리오 내용을 입력해주세요.')
      +portfolios('title-2','2', '포트폴리오 내용을 입력해주세요.')
      +portfolios('title-3','4', '포트폴리오 내용을 입력해주세요.')
      +portfolios('title-4','3', '포트폴리오 내용을 입력해주세요.')